<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Oplossing include require</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="site.css">
</head>
<body>
  <header>
    <nav>
      <ul class="cf">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#">Nieuws</a></li>
        <li><a href="#">Info</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  <h1>Oplossing include require</h1>
  <div class="cf">
   <article>
      <h2>Titel1</h2>
      <p>Tekst</p>
      <p>Tags: </p>
    </article>
    <article>
      <h2>Titel1</h2>
      <p>Tekst</p>
      <p>Tags: </p>
    </article>
    <article>
      <h2>Titel1</h2>
      <p>Tekst</p>
      <p>Tags: </p>
    </article>
    <article>
      <h2>Titel1</h2>
      <p>Tekst</p>
      <p>Tags: </p>
    </article>
  </div>
  <footer><span>&copy; Siebe Vanden Eynden</span></footer>
</body>
</html>